<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="author" content="hyp_cos">
<title>Notation Explorer</title>
<link rel="stylesheet" type="text/css" href="css/index.css">
</head><body><script src="lib/Vue.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
<script>var register=[]; var analysis_register=[]; </script>
<div id="app">
   <div class="lang-bar">
      <button :class="{active: lang==='en'}" @mousedown="lang='en'">EN</button>
      <button :class="{active: lang==='zh'}" @mousedown="lang='zh'">中文</button>
   </div>

   <div class="notation-select">
      <select v-model="current_tab">
         <option v-for="(tab,idx) in tab_names" :value="idx">{{tab}}</option>
      </select>
   </div>

   <button @mousedown="show_hotkeys()">{{ L.show_hotkeys }}</button>
   <button @mousedown="reset_list()">{{ L.reset }}</button>
   <button @mousedown="export_xlsx()">{{ L.export }}</button>
   <button @mousedown="import_xlsx()">{{ L.import }}</button>
   <input type="file" id="hiddenFileInput" style="display: none;" accept=".xlsx, .xls" ref="file_input"
          @change="handle_import_file">

   <div>
      <input type="checkbox" v-model="diagram_follow"/> {{ L.diagram_follow }}
      <input type="checkbox" v-model="auto_scroll"/> {{ L.auto_scroll }}
      <input type="checkbox" v-model="export_hide"/> {{ L.export_hide }}
      <input type="range" min="-5" max="5" step="0.1" v-model="diagram_scale"
             @focus="showCanvas = true" @blur="showCanvas = false">
      {{ L.diagram_size }}: {{diagram_scale}}
      <br>
      <input type="checkbox" v-model="use_alternative"/> {{ L.use_alternative }} <br>
   </div>
   <div>
      {{ L.navigate }}: <input type="text" ref="navigate_input" @keydown="navigate_keydown"> <button @mousedown="(e) => {e.preventDefault(); find_notation()}">{{ L.find }}</button>
   </div>
   <div>
      {{ L.expansion_tier }}: <button @mousedown="decr_tier()">-</button> {{tiername}} <button @mousedown="incr_tier()">+</button>
   </div>
   <div>
      {{ L.auto_fs_limit }}: <button @mousedown="length_limit--">-</button> {{length_limit}} <button @mousedown="length_limit++">+</button>
   </div>
   <div>
      {{ L.tooltip_fs }}: <button @mousedown="decrFS()">-</button> {{FS_shown[current_tab]}} <button @mousedown="incrFS()">+</button>
   </div>
   <div>
      {{ L.analysis_notation }}:
      <select v-model="current_analysis_index">
         <option disabled :value="-1"/>
         <option v-for="(name, idx) in analysis_names" :value="idx">{{ name }}</option>
      </select>
   </div>
   <component :is="current_notation_name" :subitems="datasets[current_tab].subitems" ref="list"></component>
   <div class="floating-canvas" id="floatingCanvas" :style="{ left: pCanvas.x + 'px', top: pCanvas.y + 'px' }" v-show="showCanvas && !pCanvasModifier.hide">
      <canvas id="hoverCanvas" width="10" height="10" :style="{ width: pCanvasScaled.w + 'px', height: pCanvasScaled.h + 'px' }"/>
   </div>
   <fs-dialog v-model="show_fs_dialog" :init="current_analysis_notation.fs_default" @confirm="calc_analysis_fs"/>
</div>
<script src="js/notations/shared-seq.js"></script>
<script src="js/notations/shared-matrix.js"></script>
<!-- <script src="js/notations/omega-Y.js"></script>
<script src="js/notations/omega-Y-magma.js"></script>
<script src="js/notations/1-Y.js"></script>
<script src="js/notations/BM.js"></script>
<script src="js/notations/BHM.js"></script>
<script src="js/notations/BSM.js"></script>
<script src="js/notations/BLM.js"></script>
<script src="js/notations/CM.js"></script>
<script src="js/notations/wMM.js"></script>
<script src="js/notations/TomegaMN.js"></script>
<script src="js/notations/TomegaDMN.js"></script>
<script src="js/notations/MomegaMN.js"></script>
<script src="js/notations/MTomegaMN.js"></script>
<script src="js/notations/Domega2MN.js"></script>
<script src="js/notations/Aomega2MN.js"></script>
<script src="js/notations/Tomega^omegaMN.js"></script>
<script src="js/notations/DEN.js"></script>
<script src="js/notations/DEN2.js"></script>
<script src="js/notations/DEN3.js"></script>
<script src="js/notations/TON-main.js"></script>
<script src="js/notations/TON-DoR.js"></script>
<script src="js/notations/TON-DRP.js"></script>
<script src="js/notations/TON-I.js"></script>
<script src="js/notations/TON-IBP.js"></script>
<script src="js/notations/TON-MC.js"></script>
<script src="js/notations/TON-MPC.js"></script>
<script src="js/notations/TON-DRC.js"></script>
<script src="js/notations/TON-DRPC.js"></script>
<script src="js/notations/aSAN-1.js"></script>
<script src="js/notations/aSAN-2.js"></script>
<script src="js/notations/aSAN-3.js"></script>
<script src="js/notations/aSAN~3+.js"></script>
<script src="js/notations/LMN.js"></script>
<script src="js/notations/LON.js"></script>
<script src="js/notations/HSPN.js"></script>
<script src="js/notations/cOCF.js"></script> -->
<script src="js/notations/PrSS-mod.js"></script>
<script src="js/notations/DFSS.js"></script>
<script src="js/notations/PPS.js"></script>
<script src="js/notations/PPS4.js"></script>
<script src="js/notations/Diagram.js"></script>
<script src="js/framework.js"></script>
</body>
</html>
